/* Session Monitor Styles */
.session-monitor {
    margin: 20px 0;
  }
  
  .session-monitor h2 {
    margin-bottom: 20px;
  }
  
  .charts {
    display: flex;
    justify-content: space-between;
  }
  
  .charts div {
    width: 48%;
  }
  
  @media (max-width: 768px) {
    .charts div {
      width: 100%;
    }
  }
  
  /* Dark Mode */
  .session-monitor.dark-mode h2 {
    color: #f5f5f5;
  }
  
  .session-monitor.dark-mode .charts div {
    background-color: #333;
    padding: 10px;
  }
  
  .session-monitor.dark-mode .charts div .chart-container {
    background-color: #232323;
    padding: 10px;
  }
  